@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .btn-primary{
    @apply bg-primary outline-theme-purple inline-block rounded-full px-6 py-2 font-semibold shadow-sm;
  }
  .text-primary {
    @apply bg-gradient-to-r from -[color:var(--theme-purple)] to-[color:var(--theme-blue)] bg-clip-text text-transparent;
  }
  .bg-primary {
    @apply bg-gradient-to-r from -[color:var(--theme-purple)] to-[color:var(--theme-blue)] focus-visible:outline
  }
}
 


:root {
--theme-purple: "#5d52d9";
--theme-blue: "#4fc5eb";
--top-navbar-height:3.5rem;
--resume-control-bar-height:3rem;
--resume-padding:1.5rem;



}


